

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
        display: flex;
     justify-content: center;
     align-items: center;

     color: rgb(0, 0, 0);

   }  



   #all{   
    border: 10px solid rgb(65, 65, 65);
    border-radius: 30px;
    padding:40px;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    
}


  #num{  width: 100%;
    height: 50px;

  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;

  border-radius: 18px;
  border: 2px solid transparent;

  background: #eef4ff;
  color: #000;
  transition: all 0.3s ease;
   }

   
   
   #num:focus {
  outline: none;
  border-color: rgb(91, 209, 224);
  background: #ffffff;
}




#units{
 
   padding: 20px; 
    background-color: rgb(255, 255, 255);
     gap: 20px;
     margin: 30px 0px ;
     display: flex;
 
     
 
     

}

.mid label {font-size: 0.85rem;
    color: #64748b;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.select{
background-color: rgb(148, 148, 148);
border-radius: 20px;
padding: 10px 3px;
border: none;
font-size: 1.3em;
 cursor: pointer;
 margin-top: 10px;
    transition: 0.2s;
 

}

#from {margin-bottom: 20px;}
 


  button{   
    background-color: rgb(91, 209, 224);
    cursor: pointer ;
    border: 0px;
     border-radius: 40px;
     padding: 10px;
    font-size: 1.2em;
  
}

 #btn:hover{background-color:rgb(39, 98, 106); ;}
 #btn:active { transform: scale(0.98);}
     
  #result{ font-size: 3em;
           color: rgb(239, 77, 77);
          font-weight: bold;}
 
